.main-header {
    height: 60px;
    display: flex;
    background-color: cadetblue;
}

.header-container{
    flex: 1;
}

.image-container {
    width: 60px;
}

.spider{
    height: 50px;
    margin: 5px;
}