.App {
  text-align: center;
  display: flex;
  flex-direction: column;

  // .content{
  //   flex: 1;
  // }
  // .bgImage{
  //   opacity: 0.2;
  //   position: fixed;
  //   left: 25%;
  //   height: 100px;
  // }
  // .content-container{
  //   height: 100%;
  //   background-color: beige;
  // }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
